.logo {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
}

@media screen and (max-width: 560px) {
    .logo {
        font-size: 25px;
        padding-bottom: 15px;
    }
}